{% extends 'base.html' %}
{% load static %}


{% block german_card %}
<div class="scene">
    <div class="card" onclick="this.classList.toggle('flip')">
        <div class="card__face card__face--front" id="german_card">
            <img class="card-img-top" src="{% static '/pictures/germany_flag.png' %}" alt="Card image cap" height="50px">
            <div class="card-body">
                <h5>{{ card.german_sentence }}</h5>
            </div>

        </div>
        {% endblock german_card %}
        {% block hungarian_card %}
        <div class="card__face card__face--back" id="hungarian_card">
            <img class="card-img-top" src="{%static '/pictures/hungary_flag.png' %}" alt="Card image cap" height="50px">
            <div class="card-body">
                <h5>{{ card.hungarian_sentence }}</h5>
            </div>
        </div>
    </div>
</div>
{% endblock hungarian_card %}

{% block buttons %}
    <a class="btn btn-primary" href="/show_card/" role="button">Next</a>
{% endblock buttons %}