.scene {
    width: 60vh;
    height: 20vh;
    margin: 40px 0;
    perspective: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
    
    }
  
  .card {
    flex: 1;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    word-wrap: break-word;
  }
  
  .card.flip {
    transform: rotateX(180deg);
   }
  
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 20px;
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 2.5vh;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .card__face--front {
    background: white;
    border: 3px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px 5px grey;
    
  }
  
  .card__face--back {
    background: white;
    transform: rotateX(180deg);
    border: 3px solid black;
    border-radius: 15px;
  }
  



